<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabeçalho IICAT</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    <header class="main-header">
        <div class="logo-container">
            <img src="Logo IICAT.jpg" alt="Logotipo IICAT - Instituto Internacional de Carreiras Acadêmicas & Tecnológicas" class="logo-img">
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="#">Contratante</a></li>
                <li><a href="#">Contratado</a></li>
                <li><a href="#">Contrato</a></li>
            </ul>
        </nav>

     
    </header>

    </body>
</html>